.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: white;
}

.about img {
  width: 30%;
}

.about h1 {
  text-align: center;
  margin-bottom: 50px;
}
