main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  gap: 10px;
  color: white;
  font-size: 1.8rem;
  /* padding: 2rem 0; */
}
main img {
  /* width: 100px; */
  width: 30%;
}

.mainText h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.svg {
  font-size: 3.3rem;
}

.mainText .btn {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 25px;
  padding: 8px 15px;
  border-radius: 10px;
}
.mainText .btn:hover {
  background-color: #2988c7;
}

.mainText svg:hover {
  color: #2988c7;
}
