* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
}
body {
  background-color: black;
}
.container {
  margin: auto;
  width: 80%;
}

.nameColor {
  color: var(--primary-color);
  font-weight: bold;
}
.nav li > .active::after {
  width: 100%;
}

.arrow {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
